.banner-interno__fondo
  background-image: url('../assets/curso/portada/banner-interno.png')!important

.bloque-texto-b.color-secundario:before 
    background-color: #DBE7F0
    top: 28px
    bottom: 30px

.medidas_bloque-texto2
  .bloque-texto-b.color-secundario:before 
    background-color: #DBE7F0
    top: -13px
    bottom: 2px
    left: -1px
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      top: -4px

.bloque-texto-b i 
    font-size: 26px

.bloque-texto-b__texto * 
    display: inline-block
    margin-top: -24px
    margin-left: 20px
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      margin-left: 22px

//.style-line1_t1
  border-color: #79DAE1!important
  height: 2px!important

.fa-quote-left:before 
    margin-left: -36px
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      margin-left: -38px

.margin_fa-quote-left2
  .fa-quote-left:before 
    margin-left: 1px
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      margin-left: -30px

.fa-quote-right:before 
    margin-left: 605px
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      margin-left: 503px

.medidas_fa-quote2
  .fa-quote-right:before 
    margin-left: 605px
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      margin-left: 260px

.margin_fa-quote-right2
  .fa-quote-right:before
    margin-left: 343px
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      margin-left: 268px

.display_bloque-texto2
  .bloque-texto-b__texto * 
    display: table-row-group
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      display: block

.bg_imgfondo1_t1
  position: relative
  .row, .row, .row, p, .row, .row, p 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 2rem
    left: -48px
    width: calc( 100% + 6rem)
    height: 99%
    background-image: url("../assets/curso/tema1/fondo1_t1.svg")
    background-repeat: no-repeat
    background-size: 100% auto  

.tarjeta--boton 
    border-radius: 15px
    background-color: #C0D5E4
.tarjeta--boton:hover
    background-color: #4B87B2!important

.tarjeta.color-primario 
    border-radius: 23px

// color encabezado tablas 

.bg_color_fondo_tr
  background-color: #79DAE1

.img89
  max-width: 89px

.tarjeta-avatar > img 
    left: 50%
    top: 38px
    width: 89px
    

.tarjeta.color-acento-botones 
    background-color: #FFFFFF

.tarjeta.color-acento-botones *
    background-color: #FFFFFF

.img-infografica-b__modal__contenido div > * 
    color: $color-sistema-texto!important

.img-infografica__item__dot, .img-infografica-b__item__dot 
    position: relative
    width: 139%
    padding-top: 139%

.img-infografica-b.color-acento-botones .img-infografica-b__item__numero i 
    color: #DD780A
.img-infografica__item__numero, .img-infografica-b__item__numero
    left: 70%

.lista-ul--color li > i:first-of-type 
    color: #1A878E

.bg_fondo_t1-1
  background-image: url('../assets/curso/tema1/img14.png')
  background-position: 96%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -0.4rem
  height: 396px
  @media (max-width: $bp-max-xs) 
    height: 980px
  @media screen and ( max-width: 400px)
    height: 1033px

.acordion__activo
  background-image: url('../assets/curso/tema1/img17.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.bg_color_white
  background-color: #FFFFFF

.table * 
td, th 
    border: 1px solid #707070!important
    padding: 0.4em

.fondo2
  position: relative
  figure, .row, p, .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 2rem
    left: -48px
    width: calc( 100% + 11rem)
    height: 118%
    background-image: url("../assets/curso/tema1/img19.svg")
    background-repeat: no-repeat
    background-size: 40% 100% 

.vertical_top
  .table * 
  td 
    vertical-align: top

.bg_color1
  background-color: #DCEDEE

.display_tarjetas2
    .tarjeta-avatar .tarjeta 
      display: inherit

.slyder-f__btn i 
    font-size: 3rem
    color: #F9B131

.tabs-a__tab 
    background-color: #EFEFEF
    border-radius: 0px

.tarjeta.color-acento-botones--borde 
    background-color: #E7EFF5
    border: 10px

.bg_fondo_t1-4
  background-image: url('../assets/curso/tema1/img32.svg')
  background-position: 96%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -0.4rem
  height: 241px
  
.bg_color2
  background-color: #F9F7EC

.bg_color3
  background-color: #EFEFEF

.bg_color4
  background-color: #FDFDFD

.bg_color5
  background-color: #F6F6F6

.color_borde-table
  .table 
    border-color: #A8A9AA

.tabs-b__tab
    background-color: #FAFAFA
    border-right: 3px solid #AFAFAF
    border-bottom: 0px

.margin_top1
    margin-top: 3rem
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
        margin-top: -1rem
    @media screen and ( max-width: 420px)
        margin-top: 14rem
        @media screen and ( max-width: 390px)
          margin-top: 17rem

.tarjeta.color-acento-contenido 
    background-color: #FFFFFF

.margin_tarjetas-slyder
  margin-right: 0px
  margin-left: 0px

.tabla-b__header
    padding: 5px

.img-infografica__item, .img-infografica-b__item 
    width: 2.1%

.img-infografica.color-secundario .img-infografica__item__dot:before
    background-color: #F9B131

.img-infografica.color-secundario .img-infografica__item__dot:after
  background-color: #F9B131

.img-infografica.color-secundario .img-infografica__item__numero,
    color: #DD780A
    font-size: 24px

.bg_color_tarinfo-t2
  background-color: #EFEFEF!important
  width: 617px

.bg_color_tarinfo2-t2
  background-color: #EFEFEF!important
  width: 366px

.img_ban-enlace
  background-image: url(../assets/curso/tema2/img03.svg)
  background-position: center
  background-size: contain
  background-repeat: no-repeat
  height: 175px

.anexo 
    display: inline-table
    background-color: #ffffff
    margin-left: 65px
    padding: 15px
    border-radius: 5px

.width_llamado-action
    width: 66.666667%
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      width: 77.666667%

.img_banner-t2-4
  background-image: url('../assets/curso/tema2/img04.svg')
  background-repeat: no-repeat
  background-position: center
  
.bg_color6
  background-color: #D1E7E8

.bg_color7
  background-color: #C1DEE0!important

.height_Slyder-t2
  height: 430px 

.bg_color-hov-tar2
  .tarjeta--boton:hover
    background-color: #9EBACE!important
  

